body{
    background-image:url('bc.png');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;

}
fieldset{
    background-color:#fdfdfd;
    margin-left: 25cqmax;
    margin-right: 25cqmax;
    margin-top:1cqmax;
    border-radius: 10px;
    border-width: 10px;
    }
*{
   font-family: 'Poppins',sans-serif;
   }
.todo-app{
    width: 100%;
    max-width: 540px;
    margin: 20px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.todo-app h2 img{
    width: 25px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex:1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 20px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
ul li{
    list-style: none;
    font-size:20px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edf0f0;
}